@model Dictionary<DataColumn, string>
@using System.Data

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<input type="hidden" />*@

            @foreach (var item in Model)
            {
                switch (item.Key.DataType.ToString())
                {
                    case "System.Int32":
                        <div class="form-group">
                            @Html.Label($"{item.Key.ColumnName}", $"{item.Key.ColumnName}")
                            <input name="@item.Key.ColumnName" class="form-control" type="number" />
                            <span asp-validation-for="@item.Value" class="text-danger"></span>
                        </div>
                        break;

                    case "System.String":
                        <div class="form-group">
                            @Html.Label($"{item.Key.ColumnName}", $"{item.Key.ColumnName}")
                            <input name="@item.Key.ColumnName" class="form-control" type="text" />
                            <span asp-validation-for="@item.Value" class="text-danger"></span>
                        </div>
                        break;

                    case "System.Boolean":
                        <div class="form-group">
                            @Html.Label($"{item.Key.ColumnName}", $"{item.Key.ColumnName}")
                            <input name="@item.Key.ColumnName" class="form-control" type="checkbox" />
                            <span asp-validation-for="@item.Value" class="text-danger"></span>
                        </div>
                        break;

                    case "System.DateTime":
                        <div class="form-group">
                            @Html.Label($"{item.Key.ColumnName}", $"{item.Key.ColumnName}")
                            <input name="@item.Key.ColumnName" class="form-control" type="datetime-local" />
                            <span asp-validation-for="@item.Value" class="text-danger"></span>
                        </div>
                        break;

                    default:
                        <div class="form-group">
                            @Html.Label($"{item.Key.ColumnName}", $"{item.Key.ColumnName}")
                            <input name="@item.Key.ColumnName" class="form-control" />
                            <span asp-validation-for="@item.Value" class="text-danger"></span>
                        </div>
                        break;
                }
            }
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" asp-route-tableValues="@Model" asp-route-tableName="@ViewBag.TableName" />
            </div>

        </form>
    </div>
</div>