@using System.Data
@model System.Data.DataSet

<div class="text-center">
    <h1>@ViewBag.TableName</h1>
</div>

@if (Model.Tables.Count > 0)
{

<a asp-route-pkColumnName="@Model.Tables[0].Columns[0].ColumnName"
   asp-route-id="-1"
   asp-route-tableName="@ViewBag.TableName"
   asp-action="Edit" asp-controller="Data">
	Create new record
</a>

    <table class="table" border="1" aria-live="assertive">
        <thead>
            <tr>
                @foreach (DataColumn item in Model.Tables[0].Columns)
                {
                    <th>
                        @item.ColumnName
                    </th>
                }
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (DataRow rowData in Model.Tables[0].Rows)
            {
                <tr>
                    @for (int i = 0; i < rowData.ItemArray.Length; i++)
                    {
                        <td>
                            @rowData.ItemArray[i]
                        </td>
                    }
                    <td>
                        <a asp-route-pkColumnName="@Model.Tables[0].Columns[0].ColumnName"
                           asp-route-id="@rowData.ItemArray[0]"
                           asp-route-tableName="@ViewBag.TableName"
                           asp-controller="Data" asp-action="Details">
                            Details
                        </a>

                        |

                        <a asp-route-name="@Model.Tables[0].Columns[0].ColumnName"
                           asp-route-id="@rowData.ItemArray[0]"
                           asp-route-columnType="@Model.Tables[0].Columns[0].DataType"
                           asp-route-tableName="@ViewBag.TableName"
                           asp-action="Delete" asp-controller="Data">
                            Delete
                        </a>

                        |

                        <a asp-route-pkColumnName="@Model.Tables[0].Columns[0].ColumnName"
                           asp-route-id="@rowData.ItemArray[0]"
                           asp-route-tableName="@ViewBag.TableName"
                           asp-action="Edit" asp-controller="Data">
                            Edit
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
